<ion-content padding-bottom>
  <con-header></con-header>
    <ion-toolbar class="page-title-wrapper">
        <ion-label class="ion-title">Dimensioner</ion-label>

        <form-dropdown (selectedHeatSystem)="onSystemDropdownChange($event)">
        </form-dropdown>
        <ion-row *ngIf="error" class="error">
          <ion-col text-wrap>
            <ion-label> {{error}} </ion-label>
          </ion-col>
        </ion-row>
    </ion-toolbar>
    <div *ngIf="dataLoaded">
        <dimension-form [formRows]="formRows" (formSubmitted) ="onFormSubmission($event)"></dimension-form>
    </div>
</ion-content>

<con-footer [showHomeBtn]="true"></con-footer>
