<div class="table-wrapper">
  <ion-row class="table-row">
    <ion-col class="column-1">
    </ion-col>
    <ion-col class="column-2">
      <ion-label>Konvektortyp</ion-label>
    </ion-col>
    <ion-col class="column-3">
      <ion-label>Längd</ion-label>
    </ion-col>
    <ion-col class="column-4">
      <ion-label>Effekt</ion-label>
    </ion-col>
    <ion-col class="column-5">
      <ion-label>Längd</ion-label>
    </ion-col>
    <ion-col class="column-6">
      <ion-label>Effekt</ion-label>
    </ion-col>
  </ion-row>
  <div *ngFor="let row of tableRows">
    <ion-row class="table-row">
      <ion-col class="column-1">
        <div class="tubes" *ngFor="let bit of row[0]">
          <div class="tube_{{bit}}"></div>
        </div>
      </ion-col>
      <ion-col class="column-2">
        {{row[1]}}
      </ion-col>
      <ion-col class="column-3">
        {{row[2]}}
      </ion-col>
      <ion-col class="column-4">
        {{row[3]}}
      </ion-col>
      <ion-col class="column-4">
        {{row[4]}}
      </ion-col>
      <ion-col class="column-6">
        {{row[5]}}
      </ion-col>
    </ion-row>
  </div>

  <div class="description-wrapper" *ngFor="let descRow of descriptionRows">
    <ion-row class="description-row">
      <div class="tube_{{descRow.tube}} description-tube">
      </div>
        {{descRow.desc}}
    </ion-row>
  </div>
  </div>
