
<div id="table-wrapper">
  <ion-row class="table-row">
    <ion-col class="column-1">
    </ion-col>
    <ion-col class="column-2">
      <ion-label>Konvektortyp</ion-label>
    </ion-col>
    <ion-col class="column-3">
      <ion-label>Längd</ion-label>
    </ion-col>
    <ion-col class="column-4">
      <ion-label>Effekt</ion-label>
    </ion-col>
    <ion-col class="column-5">
      <ion-label>Längd</ion-label>
    </ion-col>
    <ion-col class="column-6">
      <ion-label>Effekt</ion-label>
    </ion-col>
  </ion-row>
  <div *ngFor="let row of tableRows">
    <ion-row class="table-row">
      <ion-col class="column-1">
        <div class="tubes" *ngFor="let bit of row[0]">
          <div  class="tube_{{bit}}"
                *ngIf="bit == '0' || bit == 'Z'"
                style="width:4px; height:3px; background: url('assets/img/black.png');">
          </div>
          <div  class="tube_{{bit}}"
                *ngIf="bit == '1'"
                style="width:4px; height:9px; background: url('assets/img/red.png');">
          </div>
          <div  class="tube_{{bit}}"
                *ngIf="bit == 'W'"
                style="width:4px; height:9px; background: url('assets/img/blue.png');">
          </div>
          <div  class="tube_{{bit}}"
                *ngIf="bit == 'F'"
                style="width:4px; height:9px; background: url('assets/img/grey.png');">
          </div>
          <div  class="tube_{{bit}}"
                *ngIf="bit == 'G'"
                style="width:4px; height:9px; background: url('assets/img/lightgrey.png');">
          </div>
          <div  class="tube_{{bit}}"
                *ngIf="bit == 'C'"
                style="width:4px; height:9px; background: url('assets/img/red_black.png');">
          </div>
          <div  class="tube_{{bit}}"
                *ngIf="bit == 'X'"
                style="width:4px; height:9px; background: url('assets/img/lightgrey_black.png');">
          </div>
        </div>
      </ion-col>
      <ion-col class="column-2">
        {{row[1]}}
      </ion-col>
      <ion-col class="column-3">
        {{row[2]}}
      </ion-col>
      <ion-col class="column-4">
        {{row[3]}}
      </ion-col>
      <ion-col class="column-4">
        {{row[4]}}
      </ion-col>
      <ion-col class="column-6">
        {{row[5]}}
      </ion-col>
    </ion-row>
  </div>

  <div class="description-wrapper" *ngFor="let descRow of descriptionRows">
    <ion-row class="description-row">
      <div class="tube_{{descRow.tube}}"></div>
        {{descRow.desc}}
    </ion-row>
  </div>
</div>
