#table-wrapper{
  max-width: 95%;
  margin-left: 5%;
  font-size: 1.7vw;
  margin-bottom: 5%;
}
.table-row{
  border-bottom: 1px solid #c6c6c6;
  padding-top: 2%;
  padding-bottom: 2%;
}
.description-wrapper{
  margin-top: 5%;
}
.description-row{
  font-size: 2vw;
  width: 90%;
}
.description-text{
  margin-left: 1%;
}
.column-1{
  max-width: 50%;
  min-width: 50%;
  padding: 0px;
}
.column-2{
  max-width: 16%;
  min-width: 16%;
  padding: 0px;
}
.column-3{
  max-width: 9%;
  min-width: 9%;
  padding: 0px;
}
.column-4{
  max-width: 9%;
  min-width: 9%;
  padding: 0px;
}
.column-5{
  max-width: 9%;
  min-width: 9%;
  padding: 0px;
}
.column-6{
  max-width: 9%;
  min-width: 9%;
  padding: 0px;
}
.tubes{
  float: left;
  margin-left:1px;
  height: auto;
  width: auto;
  padding: 0px;
}

.tube_0{
  width: 4px;
  height: 3px;
  background-image: url('/assets/img/black.png');
}
.tube_Z{
  width: 4px;
  height: 3px;
  background-image: url('/assets/img/black.png');
}
.tube_1{
  width: 4px;
  height: 9px;
  background-image: url('/assets/img/red.png');
}
.tube_W{
  width: 4px;
  height: 9px;
  background: url('/assets/img/blue.png');
}
.tube_F{
  width: 4px;
  height: 9px;
  background: url('/assets/img/grey.png');
}
.tube_G{
  width: 4px;
  height: 9px;
  background: url('/assets/img/lightgrey.png');
}
.tube_C{
  width: 4px;
  height: 9px;
  background: url('/assets/img/red_black.png');
}
.tube_X{
  width: 4px;
  height: 9px;
  background: url('/assets/img/lightgrey_black.png');
}
