.infobox-dropdown{
  width: 100%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.infotext-wrapper{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  background-color: #f7f7f7;
  height: auto;
  border-radius: 5px;
}
.arrow-down-btn{
  font-size: 18px;
}
.info-text{
  padding: 5%;
}
.info-text-row{
  font-size: 3vw;
  margin-top: -15px;
}
.ion-title{
  margin-left: 10px;
  font-weight: 600;
}
