#contact-container{
  width: 80%;
  min-height: 30%;
  margin-left: 10%;
  background-color: #7f7f7f;
  border-radius: 5px;
  margin-top: 10%;
}
#info-wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#contact-header{
  font-weight: bolder;
  font-size: 4vw;
}
.contact-text{
  font-size: 4vw;
}
