page-dimension-table {

}

.footer-center-col{
  text-align: center;
}


.dim-table-row-header{
  font-weight: bold;
}

.dim-table-row{
  border-top: 1px solid #c6c6c6;
}

.description-table{
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 2vw;
}
.column-1{
  max-width: 50%;
  min-width: 50%;
  margin-left: 3%;
}
.column-2{
  max-width: 16%;
  min-width: 16%;
}
.column-3{
  max-width: 9%;
  min-width: 9%;

}
.column-4{
  max-width: 9%;
  min-width: 9%;
}
.column-5{
  max-width: 9%;
  min-width: 9%;
}
.column-6{
  max-width: 9%;
  min-width: 9%;
}
.tubes{
  float: left;
  margin-left:1px;
  margin-top: 7px;
  height: auto;
  width: auto;
}
