/*global styling*/


.page-title-wrapper{
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  text-align: center;
}
.page-title{
  font-weight: 500;
}
.action-btn{
  font-size: 23px;
  color: #7F7F7F;
}
.email{
  font-size: 23px !important;
}
.error{
  background-color: #E82F2D;
  height: auto;
  width: 100%;
  border: 1px solid red;
  border-radius: 5px;
}
.error-label{
  margin-left: 5%;
}
